<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <button *ngIf="currentSlide == 1" (click)="closeSlides()" ion-button icon-only class="custom-button--back"><ion-icon name="close"></ion-icon></button>
        <button *ngIf="currentSlide > 1" (click)="previousSlide()" ion-button icon-only class="custom-button--back"><ion-icon name="arrow-back"></ion-icon></button>
        <ion-title>What are we adding?</ion-title>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager>
    <ion-slide>
      <ion-list radio-group>
      
        <ion-item (focus)="selectType('gym')">
          <ion-label>Gym</ion-label>
          <ion-radio value="gym"></ion-radio>
        </ion-item>

        <ion-item (click)="selectType('raid')">
          <ion-label>Raid</ion-label>
          <ion-radio value="raid"></ion-radio>
        </ion-item>
      
        <ion-item (click)="selectType('quest')">
          <ion-label>Quest</ion-label>
          <ion-radio value="quest"></ion-radio>
        </ion-item>
      
        <ion-item (click)="selectType('trade')">
          <ion-label>Trade</ion-label>
          <ion-radio value="trade"></ion-radio>
        </ion-item>
      </ion-list>
      <button ion-button (click)="nextSlide()">
        Select
      </button>
    </ion-slide>
    <ion-slide>
      <div style="height: 200px;width: 100%;display:block;max-width:100%;border-bottom: 1px solid #333;" id="map" #map></div>
      <input-geo-search (receivedLocation)="selectLocation($event)"></input-geo-search>
      <ion-list>
        <ion-item (click)="selectItem()" *ngFor="let gym of gyms">
          <h1>{{ gym.n }}</h1>
          <h2>{{gym.ad}}</h2>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ul class="list--raid-head">
        <li>
          <img src="assets/imgs/raidhead.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li>
          <img src="assets/imgs/raidhead.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li>
          <img src="assets/imgs/raidhead.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li>
          <img src="assets/imgs/raidhead.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li>
          <img src="assets/imgs/raidhead.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
      </ul>
      <ion-list>
        <ion-item>
          <ion-label>Which pokemon?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>CP Level?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Type?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Time?</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <button ion-button block button-block>Add Raid!</button>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>  
  </ion-slides>
</ion-content>
