<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <button *ngIf="currentSlide == 1" (click)="closeSlides()" ion-button icon-only class="custom-button--back"><ion-icon name="close"></ion-icon></button>
        <button *ngIf="currentSlide > 1" (click)="previousSlide()" ion-button icon-only class="custom-button--back"><ion-icon name="arrow-back"></ion-icon></button>
        <ion-title>{{currentTitle}}</ion-title>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides pager>
    <ion-slide>
      <ion-list radio-group [(ngModel)]="additionType">
        <ion-list-header>Locations</ion-list-header>
        <ion-item>
          <ion-label>Gym</ion-label>
          <ion-radio value="gym"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Pokestop</ion-label>
          <ion-radio value="pokestop"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group [(ngModel)]="additionType">
        <ion-list-header>Pokemon</ion-list-header>
        <ion-item>
          <ion-label>Raid</ion-label>
          <ion-radio value="raid"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Quest</ion-label>
          <ion-radio value="quest"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-list radio-group [(ngModel)]="additionType">
        <ion-list-header>Nearby</ion-list-header>
        <ion-item>
          <ion-label>Event</ion-label>
          <ion-radio value="event"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Groups</ion-label>
          <ion-radio value="groups"></ion-radio>
        </ion-item>
      </ion-list>
      <button ion-button round (click)="nextSlide()">
        Select
      </button>
    </ion-slide>
    <ion-slide *ngIf="additionType == 'gym' || 'additionType' == 'pokestop' || additionType == 'groups' || additionType == 'event'">
      <input-geo-search (receivedLocation)="selectLocation($event)"></input-geo-search>
      <ion-card *ngIf="newGymLocation">
        <img src="{{ newGymLocation.im }}" alt="">
        <h1>{{newGymLocation.n}}</h1>
        <h2>{{newGymLocation.ad}}</h2>
      </ion-card>
      <button ion-button *ngIf="newGymLocation" (click)="addNewLocation()">Add This Location</button>
    </ion-slide>
    <ion-slide *ngIf="additionType == 'raid' || additionType == 'quest'">
      
      <div style="height: 200px;width: 100%;display:block;max-width:100%;border-bottom: 1px solid #333;" id="map" #map></div>
      
      <ion-list>
        <ion-item (click)="selectItem(gym)" *ngFor="let gym of gyms">
          <h1>{{ gym.n }}</h1>
          <h2>{{ gym.ad }}</h2>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide *ngIf="additionType == 'raid'">
      <ul class="list--raid-head">
        <li (click)="raidNumber = 1">
          <img *ngIf="raidNumber < 1" src="assets/imgs/raidhead.png">
          <img *ngIf="raidNumber >= 1" src="assets/imgs/raidhead_selected_mystic.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li (click)="raidNumber = 2">
          <img *ngIf="raidNumber < 2" src="assets/imgs/raidhead.png">
          <img *ngIf="raidNumber >= 2" src="assets/imgs/raidhead_selected_mystic.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li (click)="raidNumber = 3">
            <img *ngIf="raidNumber < 3" src="assets/imgs/raidhead.png">
            <img *ngIf="raidNumber >= 3" src="assets/imgs/raidhead_selected_mystic.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li (click)="raidNumber = 4">
            <img *ngIf="raidNumber < 4" src="assets/imgs/raidhead.png">
            <img *ngIf="raidNumber >= 4" src="assets/imgs/raidhead_selected_mystic.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
        <li (click)="raidNumber = 5">
            <img *ngIf="raidNumber < 5" src="assets/imgs/raidhead.png">
            <img *ngIf="raidNumber >= 5" src="assets/imgs/raidhead_selected_mystic.png">
          <!-- <img src="assets/imgs/raidhead1.png"> -->
        </li>
      </ul>
      <ion-grid *ngIf="raidNumber">
        <ion-grid-header>
          Has it Hatched yet?
        </ion-grid-header>
        <ion-row>
          <ion-col col-6>
            <button (click)="setHatch(true)" ion-button block button-block>Yes</button>
          </ion-col>
          <ion-col col-6>
            <button (click)="setHatch(false)" ion-button block button-block>No</button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isHatched == false">
          <ion-col col-12>
            <ion-item>
              <ion-label stacked>Time Until Hatch</ion-label>
              <ion-input type="text" [(ngModel)]="hatchInput"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- <ion-list *ngIf="isHatched == false">
        <ion-item>
          <ion-label stacked>Time Until Hatch</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-list> -->
      <button ion-button round *ngIf="isHatched == false" [disabled]="!hatchInput" (click)="addRaidEgg()">Add Raid</button>
    </ion-slide>
    <ion-slide *ngIf="additionType == 'raid'">
      <ion-list>
        <ion-list-header>
          Pokemon Info
        </ion-list-header>
        <ion-item>
          <ion-label stacked>Pokemon</ion-label>
          <ion-input type="text" [(ngModel)]="raidPokemon"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>CP</ion-label>
          <ion-input type="text" [(ngModel)]="raidPokemonCP"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Time Remaining</ion-label>
          <ion-input type="text" [(ngModel)]="raidTimeRemaining"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Attack 1</ion-label>
          <ion-input type="text" [(ngModel)]="attackOne"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Attack 2</ion-label>
          <ion-input type="text" [(ngModel)]="attackTwo"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button round (click)="addNewRaid()">Add Raid</button>        
    </ion-slide>
    <ion-slide *ngIf="additionType == 'quest'">
      <ion-list>
        <ion-item>
          <ion-label stacked>Reward</ion-label>
          <ion-input type="text" [(ngModel)]="questReward"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Type</ion-label>
          <ion-input type="text" [(ngModel)]="questType"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Goal</ion-label>
          <ion-input type="text" [(ngModel)]="questText"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button (click)="addNewQuest()">Add Quest</button>
    </ion-slide>
    <!-- <ion-slide *ngIf="additionType == 'groups'">
      <img src="{{newGymLocation.im}}" alt="">
      <h1>{{newGymLocation.n}}</h1>
      <h2>{{newGymLocation.ad}}</h2>
    </ion-slide> -->
    <ion-slide *ngIf="additionType == 'groups'">
      <h2>So, we're adding a Group at:</h2>
      <h3>Location Place</h3>
      <h2>Would you like to add an image of the location?</h2>
      <button ion-button round (click)="takeImage()">Upload Image</button>
    </ion-slide>
    <ion-slide *ngIf="additionType == 'event'">
      <ion-list class="slide--event">
        <h2>So, we're adding an Event at:</h2>
        <h3>Location Place</h3>
        <h2>Would you like to add an image of the location?</h2>
        <button ion-button round>Upload Image</button>
      </ion-list>
    </ion-slide>
    <ion-slide *ngIf="additionType == 'groups'">
      <h2>Want to tell us more about your group?</h2>
      <ion-list>
        <ion-item>
          <ion-label stacked>Group Name</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
        <h2>Upload an image of your group!</h2>
        <button ion-button round>Upload Image</button>
      </ion-list>
    </ion-slide>
    <!-- <ion-slide *ngIf="additionType == 'trade'">
      <h2>Trade</h2>
    </ion-slide> -->
  </ion-slides>
</ion-content>
