page-add-raid {
    .scroll-content {
        padding: 0 !important;
    }
    ion-slide.swiper-slide {
        width: 100% !important;
        align-items: flex-start;
    }
    .list--raid-head {
        list-style-type: none;
        padding: 0;
        width: 100%;

        li {
            width: 20%;
            display: inline-block;
            float: left;
        }
    }
}
