<ion-content>
  <ion-item class="header-item" style="text-align: center;">
    <h1 style="font-size:20px;">{{ selection.title }}</h1>
  </ion-item>

  <ion-grid class="selection-grid">
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-only [class.active]='selection.title == "Find Nearby Players"' (click)='selection.title = "Find Nearby Players"'>
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button value="groups" ion-button icon-only [class.active]='selection.title == "Find Groups in the Area"' (click)='selection.title = "Find Groups in the Area"'>
          <ion-icon name="contacts"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button value="events" ion-button icon-only [class.active]='selection.title == "Events in the Area"' (click)='selection.title = "Events in the Area"'>
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col col-2>
        <button value="looking" ion-button icon-only [class.active]='selection.title == "Looking for a Pokemon"' (click)='selection.title = "Looking for a Pokemon"'>
          <ion-icon name="eye"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button value="trade" ion-button icon-only [class.active]='selection.title == "Looking to Trade"' (click)='selection.title = "Looking to Trade"'>
          <ion-icon name="swap"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button value="gifts" ion-button icon-only [class.active]='selection.title == "Looking for a Gift buddy"' (click)='selection.title = "Looking for a Gift buddy"'>
          <ion-icon name="basket"></ion-icon>
        </button>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Find Nearby Players"'>
      <ion-list-header>My Friends</ion-list-header>
      <ion-item class="no-padding--left">
        <ion-icon name="search" item-end style="color: #ddd;"></ion-icon>
        <ion-input placeholder="Search through friends."></ion-input>
      </ion-item>
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let player of user.userFriends" class="playerItem">
          <ion-thumbnail item-start>
            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/42157390_2348884881794043_475666240757563392_o.jpg?_nc_cat=108&oh=a78c4254a319e3358614c5d501a52731&oe=5C6043C4">
          </ion-thumbnail>
          <h2>{{ player.fn }}</h2>
          <p>{{ player.fn }}</p>
          <button ion-button clear item-end><ion-icon name="contact"></ion-icon></button>
          <button ion-button clear item-end><ion-icon name="text"></ion-icon></button>
        </ion-item>
      </ion-scroll>
    </ion-list>

    <!-- <ion-fab right bottom>
        <button ion-fab color="primary" (click)="trackUser()">
          <ion-icon name="locate"></ion-icon>
        </button>
      </ion-fab> -->
  </div>

  <div [ngSwitch]="selection.title">
    <group-list *ngSwitchCase='"Find Groups in the Area"'></group-list>

    <ion-fab right bottom *ngIf="selection.title === 'Find Groups in the Area'">
      <button ion-fab mini color="primary">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>    
  </div>

  <div [ngSwitch]="selection.title">
    <event-list *ngSwitchCase='"Events in the Area"'></event-list>

    <ion-fab right bottom *ngIf="selection.title === 'Events in the Area'">
      <button ion-fab mini color="primary">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Looking for a Pokemon"'>
      <ion-list-header>Pokemon Sightings</ion-list-header>
      <ion-item>
      </ion-item>
    </ion-list>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Looking to Trade"'>
      <ion-list-header>Pokemon up for Trade</ion-list-header>
      <ion-item>
      </ion-item>
    </ion-list>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Looking for a Gift buddy"'>
      <ion-list-header>Make a Gift Buddy!</ion-list-header>
      <ion-item>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
    