<ion-list>
  <ion-item class="no-padding--left">
    <ion-segment [(ngModel)]="searchType">
      <ion-segment-button value="raids">
        Raids
      </ion-segment-button>
      <ion-segment-button value="quests">
        Quests
      </ion-segment-button>
      <ion-segment-button value="trades">
        Trades
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <div [ngSwitch]="searchType">
    <ion-list *ngSwitchCase="'raids'">
      <ion-item *ngFor="let raid of nearbyRaids">
        <h1>{{ raid.n }}</h1>
      </ion-item>
      <ion-item *ngIf="nearbyRaids === 0">
        <h1>No Current Raids Nearby</h1>
      </ion-item>
      <ion-fab right bottom>
        <button ion-fab color="primary" mini (click)="openAddRaidPage()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </ion-list>
  
    <ion-list *ngSwitchCase="'quests'">
      <ion-item *ngFor="let quest of nearbyQuests">
        {{ quest.n }}
      </ion-item>
      <ion-item *ngIf="nearbyQuests === 0">
        <h1>No Current Quests Nearby</h1>
      </ion-item>
      <ion-fab right bottom>
        <button ion-fab color="primary" mini (click)="openAddQuestPage()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </ion-list>

    <ion-list *ngSwitchCase="'trades'">
      <ion-item *ngFor="let trade of nearbyTrades">
        {{ trade.n }}
      </ion-item>
      <ion-item *ngIf="nearbyTrades.length === 0">
        <h1>No Current Trades Nearby</h1>
      </ion-item>
      <ion-fab right bottom>
        <button ion-fab color="primary" mini (click)="openAddTradePage()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </ion-list>
  </div>
</ion-list>