<ion-header>
  <ion-navbar>
    <ion-title>{{ group.n }} Pokemon Group</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/26841261_171808613430470_6840328542440818659_o.jpg?_nc_cat=111&oh=bbc608dd878c064b9745020d577da001&oe=5C5B4DCF" alt="">
  <button ion-button medium class="button--join-group">
    Follow this Group
  </button>
  <ul class="logos--group">
    <li *ngIf="group?.s?.fb">
      <button ion-button icon-only><a href="facebook.com"><ion-icon name="logo-facebook"></ion-icon></a></button>
    </li>
    <li *ngIf="group?.s?.ig">
      <button ion-button icon-only><ion-icon name="logo-instagram"></ion-icon></button>
    </li>
    <li *ngIf="group?.s?.tw">
      <button ion-button icon-only><ion-icon name="logo-twitter"></ion-icon></button>
    </li>
    <li *ngIf="group?.s?.web">
      <button ion-button icon-only><ion-icon name="logo-chrome"></ion-icon></button>
    </li>
  </ul>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h1 class="title title--location">Concord, North Carolina</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h2 class="title title--member-count">365 Members</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 style="text-align: center;">
        <ion-grid class="grid--member-count">
          <ion-row>
            <ion-col col-4>
              <img src="assets/imgs/mystic.svg" alt="">
            </ion-col>
            <ion-col col-4>
              <img src="assets/imgs/instinct.svg" alt="">
            </ion-col>
            <ion-col col-4>
              <img src="assets/imgs/valor.svg" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>
              <h3 class="pokefont pokefont--mystic">100</h3>
            </ion-col>
            <ion-col col-4>
              <h3 class="pokefont pokefont--instinct">25</h3>
            </ion-col>
            <ion-col col-4>
              <h3 class="pokefont pokefont--valor">5</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
