// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-list-header, .list-header-md, .list-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

$mysticPrimaryColor: #3B4cca;
$valorPrimaryColor: #FF0000;
$instinctPrimaryColor: #FFDE00;

$mystic: $mysticPrimaryColor;
$valor: $valorPrimaryColor;
$instinct: $instinctPrimaryColor;

.header--item {
    position: relative;
}

.header-md::after {
    height: 0;
}

.no-padding--left {
    padding-left: 0;

    input {
        padding-left: 10px;
    }

    .label {
        padding-left: 16px;
    }
}

.toolbar-title {
    font-size: 14px;
}

.button--default {
    background: transparent;
    box-shadow: none;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

.button--close-image {
    color: #333;
    float: left;
}

.button--sign-in, .button--sign-up {
    // color: rgba(255, 255, 255, .25);
    color: #fff;
}

.button--sign-in {
    float: right;
}

.button--sign-up {
    float: left;
}

.button--location {
    color: rgba(255, 255, 255, .25);

    &.active {
        color: rgba(255, 255, 255, 1);
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

.pokefont {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.ion-page {
    margin-top: 40px;
}

ion-fab[bottom] {
    bottom: 45px;
}