<ion-list scroll>
  <ion-segment [(ngModel)]="eventListType">
    <ion-segment-button value="geo">
      Nearby Events
    </ion-segment-button>
    <ion-segment-button value="default">
      Favorites
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="eventListType">
    <ion-list *ngSwitchCase="'geo'">
      <div style="height: 200px;width: 100%;display:block;max-width:100%;" #map id="map" *ngIf="isLocatorActive"></div>
      <ion-item *ngIf="locations.length > 0">
        <ion-list>
          <ion-item *ngFor="let loc of locations" (click)="selectLocation(loc)">
            <h2>{{ loc.description }}</h2>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let event of nearbyEvents" (click)="goToEventPage(event)">
          <h2>{{ event.n }}</h2>
          <h3>{{ event.l }}</h3>
          <p>Within {{ getCeilDistance(event.queryMetadata.distance) }} Mi.</p>
        </ion-item>
      </ion-scroll>
      <ion-item *ngIf="!isLocatorActive">
        Locator Not Active
      </ion-item>
      <ion-item *ngIf="isLocatorActive && nearbyEvents.length < 1">
        No Events Nearby
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'default'">
      <input-search 
        [inputType]='"event"'
        [items]="events"></input-search>
    
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let event of events">
          <h2>{{ event.en }}</h2>
        </ion-item>
      </ion-scroll>
    </div>
  </div>
</ion-list>