.universal-header {
    background: red;
    position: relative;

    .grid { 
        padding: 0;
    }

    .button {
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover:not(.disable-hover) {
            background: transparent;
        }
    }

    .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
