<ion-header class="universal-header">
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <button ion-button icon-only class="button--default button--home">
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only class="button--default button--locations">
          <ion-icon name="locate"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <!-- <button ion-button icon-only class="button--login">
          <ion-icon name="home"></ion-icon>
        </button> -->
      </ion-col>
      <ion-col col-3>
        <button ion-button icon-only class="button--default button--login" (click)="checkSessionStatus()">
          <ion-icon name="power"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>