<ion-content>
  <ion-item class="header-item" style="text-align: center;">
    <h1 style="font-size:20px;">{{ selection.title }}</h1>
  </ion-item>

  <ion-grid class="selection-grid">
    <ion-row>
      <ion-col col-4>
        <button ion-button icon-only [class.active]='selection.title == "Find Nearby Players"' (click)='selection.title = "Find Nearby Players"'>
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button value="groups" ion-button icon-only [class.active]='selection.title == "Find Groups in the Area"' (click)='selection.title = "Find Groups in the Area"'>
          <ion-icon name="contacts"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-4>
        <button value="events" ion-button icon-only [class.active]='selection.title == "Events in the Area"' (click)='selection.title = "Events in the Area"'>
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col col-2>
        <button value="looking" ion-button icon-only [class.active]='selection.title == "Looking for a Pokemon"' (click)='selection.title = "Looking for a Pokemon"'>
          <ion-icon name="eye"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button value="trade" ion-button icon-only [class.active]='selection.title == "Looking to Trade"' (click)='selection.title = "Looking to Trade"'>
          <ion-icon name="swap"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button value="gifts" ion-button icon-only [class.active]='selection.title == "Looking for a Gift buddy"' (click)='selection.title = "Looking for a Gift buddy"'>
          <ion-icon name="basket"></ion-icon>
        </button>
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Find Nearby Players"'>
      <div style="height: 200px;width: 100%;display:block;max-width:100%;" id="map_canvas" *ngIf="mapLat"></div>
      <ion-list-header>Nearby Players</ion-list-header>
      <ion-item class="no-padding--left">
        <span style="color: #ddd;font-size: 14px;">Click the locator to find players near you.</span>
        <button ion-button icon-only item-end (click)="setCoordinates()" class="button--locator button--locator__faded" [class.active]="trackUserBool">
          <ion-icon name="locate"></ion-icon>
        </button>
      </ion-item>
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let player of nearbyPlayers">
          <!-- <ion-thumbnail item-start>
            <img src="img/thumbnail-totoro.png">
          </ion-thumbnail> -->
          <h2>{{ player.un }}</h2>
          <p>Within {{ getCeilDistance(player.queryMetadata.distance) }} Mi.</p>
          <button ion-button clear item-end>Chat</button>
        </ion-item>
      </ion-scroll>
    </ion-list>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Find Groups in the Area"'>
      <ion-list-header>Nearby Groups</ion-list-header>
      <ion-item *ngIf="!location" class="no-padding--left">
        <ion-icon name="search" item-end style="color: #ddd;"></ion-icon>
        <button ion-button icon-only item-end class="button--locator button--locator__faded" (click)="getGroupsByGeo()">
          <ion-icon name="locate" item-end style="color: #ddd;"></ion-icon>
        </button>
        <ion-input placeholder="Enter a City, or click the locator!" [(ngModel)]="autocomplete" (keyup)="getAutocompleteResults()"></ion-input>
      </ion-item>
      <ion-item *ngIf="locations.length > 0">
        <ion-list>
          <ion-item *ngFor="let loc of locations" (click)="selectLocation(loc)">
            <h2>{{ loc.description }}</h2>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item *ngIf="location" class="no-padding--left">
        <ion-icon name="close" (click)="location = ''" style="float:right;"></ion-icon> {{ location.description }}
      </ion-item>
      <ion-item *ngFor="let group of nearbyGroups" (click)="goToGroupPage(group)" class="group--item">
        <ion-thumbnail item-start class="group--image">
          <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/26841261_171808613430470_6840328542440818659_o.jpg?_nc_cat=111&oh=bbc608dd878c064b9745020d577da001&oe=5C5B4DCF" alt="">
        </ion-thumbnail>
        <h2>{{ group.n }} Pokemon Group</h2>
        <p>250 members</p>
        <a href="#" style="font-size: 12px;text-decoration: none;">Click to visit their page</a>
      </ion-item>
    </ion-list>

    <ion-fab right bottom *ngIf="selection.title === 'Find Groups in the Area'">
      <button ion-fab mini color="primary">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>    
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Events in the Area"'>
      <ion-list-header>Nearby Events</ion-list-header>
      <ion-item class="no-padding--left">
        <ion-icon name="search" item-end style="color: #ddd;"></ion-icon>
        <button ion-button icon-only item-end class="button--locator button--locator__faded" (click)="getEventsByGeo()">
          <ion-icon name="locate" item-end style="color: #ddd;"></ion-icon>
        </button>
        <ion-input placeholder="Enter a City, or click the locator!" [(ngModel)]="autocomplete" (keyup)="getAutocompleteResults()"></ion-input>
      </ion-item>
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let event of nearbyEvents">
          <h2>{{ event.n }}</h2>
        </ion-item>
      </ion-scroll>
    </ion-list>
    
    <ion-fab right bottom *ngIf="selection.title === 'Events in the Area'">
      <button ion-fab mini color="primary">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Looking for a Pokemon"'>
      <ion-list-header>Pokemon Sightings</ion-list-header>
      <ion-item>
      </ion-item>
    </ion-list>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Looking to Trade"'>
      <ion-list-header>Pokemon up for Trade</ion-list-header>
      <ion-item>
      </ion-item>
    </ion-list>
  </div>

  <div [ngSwitch]="selection.title">
    <ion-list *ngSwitchCase='"Looking for a Gift buddy"'>
      <ion-list-header>Make a Gift Buddy!</ion-list-header>
      <ion-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
  