<ion-list>
  <ion-segment [(ngModel)]="userListType">
    <ion-segment-button value="geo">
      Nearby Players
    </ion-segment-button>
    <ion-segment-button value="default">
      Favorites
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="userListType">
    <ion-list *ngSwitchCase="'geo'">
      <div style="height: 200px;width: 100%;display:block;max-width:100%;" #map id="map" *ngIf="isLocatorActive"></div>
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let player of nearbyPlayers" (click)="goToPlayerPage(player)">
          <ion-thumbnail item-start>
            <img src="https://firebasestorage.googleapis.com/v0/b/pogo-pal-1532794775743.appspot.com/o/andrew.jpg?alt=media&token=c401c972-fd26-45e8-8caa-2a8524c6050b">
          </ion-thumbnail>
          <h2>{{ player.un }}</h2>
          <p>Within {{ getCeilDistance(player.queryMetadata.distance) }} Mi.</p>
          <!-- <button ion-button clear item-end>Chat</button> -->
          <button ion-button clear item-end><img></button>
          <img src="./assets/imgs/mystic.svg" clear item-end alt="" width="50">
        </ion-item>
      </ion-scroll>
      {{ lastIdiot }}
      {{ wasteEater }}
      <ion-item *ngIf="!isLocatorActive">
        Locator Not Active
      </ion-item>
      <ion-item *ngIf="isLocatorActive && nearbyPlayers.length < 1">
        No Users Nearby
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'default'">
      <ion-item class="no-padding--left">
        <ion-icon name="search" item-end style="color: #ddd;"></ion-icon>
        <ion-input placeholder="Search through friends."></ion-input>
      </ion-item>
      <ion-scroll scrollY="true" style="height: 200px;">
        <ion-item *ngFor="let player of friends" class="playerItem">
          <ion-thumbnail item-start>
            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/42157390_2348884881794043_475666240757563392_o.jpg?_nc_cat=108&oh=a78c4254a319e3358614c5d501a52731&oe=5C6043C4">
          </ion-thumbnail>
          <h2>{{ player.fn }}</h2>
          <p>{{ player.fn }}</p>
          <button ion-button clear item-end><ion-icon name="contact"></ion-icon></button>
          <button ion-button clear item-end><ion-icon name="text"></ion-icon></button>
        </ion-item>
      </ion-scroll>
    </div>
  </div>
</ion-list>